---
export interface Props {
	title: string;
}
const currentYear = new Date().getFullYear()
const { title, tagline } = Astro.props;
---
<footer>
    <div class="mx-auto max-w-7xl sm:px-6 md:flex md:items-center md:justify-center lg:px-8">
        <div class="mt-8 md:order-1 md:mt-0">
            <p class="text-center text-base text-gray-400">
                &copy; {currentYear} {title}. {tagline}
            </p>
        </div>
    </div>
</footer>